<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StudentFeedbackSystem</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
   
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.studentfeedback.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRoleServlet</display-name>
    <servlet-name>UserRoleServlet</servlet-name>
    <servlet-class>com.studentfeedback.servlet.UserRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRoleServlet</servlet-name>
    <url-pattern>/UserRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPassServlet</display-name>
    <servlet-name>ResetPassServlet</servlet-name>
    <servlet-class>com.studentfeedback.servlet.ResetPassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassServlet</servlet-name>
    <url-pattern>/ResetPassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendmailServlet</display-name>
    <servlet-name>SendmailServlet</servlet-name>
    <servlet-class>com.studentfeedback.servlet.SendmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendmailServlet</servlet-name>
    <url-pattern>/SendmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectServlet</display-name>
    <servlet-name>SubjectServlet</servlet-name>
    <servlet-class>com.electiveproject.servlet.SubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectServlet</servlet-name>
    <url-pattern>/SubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.studentfeedback.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculateMarksServelet</display-name>
    <servlet-name>CalculateMarksServelet</servlet-name>
    <servlet-class>com.studentfeedback.servlet.CalculateMarksServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateMarksServelet</servlet-name>
    <url-pattern>/CalculateMarksServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>staff_ViewStudentServlet</display-name>
    <servlet-name>staff_ViewStudentServlet</servlet-name>
    <servlet-class>com.studentfeedback.servlet.staff_ViewStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>staff_ViewStudentServlet</servlet-name>
    <url-pattern>/staff_ViewStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculateServlet</display-name>
    <servlet-name>CalculateServlet</servlet-name>
    <servlet-class>com.studentfeedback.servlet.CalculateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateServlet</servlet-name>
    <url-pattern>/CalculateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.studentfeedback.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>